{% extends 'base.html' %}

{%  block content %}

{% if not request.user.is_authenticated %}
    <div style="margin-top: 30px;">
        {% if error %}
            <div class="alert alert-danger" role="alert" style="margin: 20px 20px 20px 20px;" >
                <p>{{ error }}</p>
            </div>
        {% endif%}
        <form action="" method="POST">
            {% csrf_token %}
            <h1 style="margin: 20px 20px 0 20px;"> Login </h1>
            <div style="margin: 20px 0 0 20px;">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="digit your username">
            </div>
            <div style="margin: 20px 0 0 20px;">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div style="margin: 20px 50px 0 20px;">
                <button class="btn btn-primary" type="submit"> Login</button>
            </div>
        </form>
        <p>Do not have a account?</p>
        <button  class="btn-primary" type="submit" style="margin: 20px 20px 20px 20px;"> <a href="/register"> <span style="color: white;">Register</span> </a></button>
    </div>
{% else %}
    <div class="alert alert-success" role="alert" style="margin: 20px 20px 20px 20px;" >
        <p> The user {{ request.user }} is already log in</p>
        <p>Would you like to logout ? </p>
        <div style="margin: 20px 50px 20px 20px;">
            <a class="btn btn-primary" href="/logout">logout</a> 
        </div>
    </div>


{% endif %}

{% endblock %}