{% extends 'base.html' %}

{% block content %}

{% if not created  %}
<form action="." method="POST">
    {% csrf_token %}
    <h1 style="text-align: center;">Form to create a new Article</h1>
    <div style="margin: 30px 0 0 10px;">
        <label for="title">Title: </label>
        <input type="text" name="title" placeholder="Article Title">
    </div>


    <div style="margin: 20px 0 0 10px;">
        <p> Content: </p>
        <textarea name="content" id="content" cols="70" rows="5" placeholder="Article Content"></textarea>
    </div>

    <div style="margin: 40px 0 0 10px;">
        <button  type="submit"> Create Article</button>
    </div>

</form>



{% else %}
<div class="alert alert-success" role="alert" style="margin: 20px 20px 20px 20px;" >
    <P > Article {{ object.title }} was Created with Sucess</P>
</div>
<div style="margin: 40px 0 0 10px;">
    <button > <a href="/"> Return to home</a> </button>
</div>

{% endif %}



{% endblock content %}
