{% extends "base.html" %}

{% block content %}
    <!-- <h1> Title: {{ title }} </h1>
    <h1>Id: {{ id }} Content: {{ content }}</h1> -->
    

        {% for obj in object_list %}
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="margin: 10px 0 0 10px;">
                    <div class="card-header" style="background-color: blue;"> 
                        <p style="text-align: center;"> Article: {{ obj.id }} </p> 
                    </div>
                    <div class="card-body">
                        <li> <a href="/articles/{{ obj.id }}">  {{ obj.title }}  </a> </li>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
        {% endfor %}


{% endblock content %}
